<h1>Регистрация</h1>

<form action="/register" method="POST">
    <label for="username">Потребителско име</label>
    <input type="text" name="username" id="username" placeholder="Въведете потребителско име">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="Въведете имейл">
    <label for="password">Парола</label>
    <input type="password" name="password" id="password" placeholder="Въведете парола">
    <label for="repass">Потвърдете паролата</label>
    <input type="password" name="repass" id="repass" placeholder="Повторете паролата">
    <input type="submit" value="Регистрация">
</form>